/** reset.css */
body {
    font-family: var(--g-font-family);
    font-weight: 400;
    font-size: var(--g-font-size-base);
    line-height: calc(var(--g-font-size-base) * 1.2);
    color: var(--g-neutral-grey-900);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
}

.vp-doc a,
a {
    color: var(--g-plum-600);
    text-decoration: none;
    padding: 1px 4px;
    background-color: transparent;
    border-radius: var(--g-border-radius-base);


    &:hover {
        color: var(--g-plum-600);
        background-color: var(--g-cold-grey-100);

    }

    &:focus,
    &:active {
        color: var(--g-plum-600);
        background-color: var(--g-cold-grey-200);

    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--g-text-color-regular);
    font-weight: inherit;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

h1 {
    font-size: calc(var(--g-font-size-base) + 6px);
}

h2 {
    font-size: calc(var(--g-font-size-base) + 4px);
}

h3 {
    font-size: calc(var(--g-font-size-base) + 2px);
}

h4,
h5,
h6,
p {
    font-size: inherit;
}

p {
    line-height: 1.8;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

sup,
sub {
    font-size: calc(var(--g-font-size-base) - 1px);
}

small {
    font-size: calc(var(--g-font-size-base) - 2px);
}