.g-button-group {
    --g-button-group-border-color: var(--g-line-border-1);
}

.g-button {

    --g-button-font-weight: var(--g-font-weight-primary);
    --g-button-border-color: var(--g-plum-600);
    --g-button-bg-color: transparent;
    --g-button-text-color: var(--g-text-back-white);


    --g-button-disabled-text-color: var(--g-neutral-grey-400);
    --g-button-disabled-bg-color: transparent;
    --g-button-disabled-border-color: var(--g-cold-grey-50);

    --g-button-hover-text-color: var(--g-text-back-white);
    --g-button-hover-bg-color: transparent;
    --g-button-hover-border-color: var(--g-plum-700);

    --g-button-focus-text-color: var(--g-text-back-white);
    --g-button-focus-border-color: var(--g-neutral-grey-50);
    --g-button-focus-bg-color: var(--g-neutral-grey-50);
    --g-button-focus-inside-color: var(--g-plum-600);
    --g-button-focus-outside-color: var(--g-plum-600);
    --g-button-focus-shadow: 0px 0px 0px 3px var(--g-button-focus-inside-color),
        inset 0px 0px 0px 2px var(--g-button-focus-outside-color);



    --g-button-active-text-color: var(--g-text-back-white);
    --g-button-active-border-color: var(--g-plum-800);
    --g-button-active-bg-color: transparent;
    /* --g-button-outline-color: var(--g-plum-600); */
    /* --g-button-active-color: var(--g-plum-800); */





}

.g-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    height: 32px;
    white-space: nowrap;
    cursor: pointer;
    color: var(--g-button-text-color);
    text-align: center;
    box-sizing: border-box;
    outline: none;
    transition: 0.1s;
    font-weight: var(--g-button-font-weight);
    user-select: none;
    vertical-align: middle;
    -webkit-appearance: none;
    background-color: var(--g-button-bg-color);
    border: var(--g-border);
    border-color: var(--g-button-border-color);
    padding: 5px 16px;
    font-size: var(--g-font-size-base);
    border-radius: var(--g-border-radius-base);

    &+& {
        margin-left: 12px;
    }

    &:hover {
        color: var(--g-button-hover-text-color);
        border-color: var(--g-button-hover-border-color);
        background-color: var(--g-button-hover-bg-color);
        outline: none;
    }

    &:focus {
        color: var(--g-button-focus-text-color);
        border-color: var(--g-button-focus-border-color);
        background-color: var(--g-button-focus-bg-color);
        box-shadow: var(--g-button-focus-shadow);
        outline: none;

    }

    &:active {
        color: var(--g-button-active-text-color);
        border-color: var(--g-button-active-border-color);
        background-color: var(--g-button-active-bg-color);
        outline: none;
    }


    /*round*/
    &.is-round {
        border-radius: var(--g-border-radius-round);
    }

    /*circle*/
    &.is-circle {
        border-radius: 50%;
        padding: 8px;
    }

    /*disabled*/
    &.is-loading,
    &.is-disabled,
    &.is-disabled:hover,
    &.is-disabled:focus,
    &[disabled],
    &[disabled]:hover,
    &[disabled]:focus {
        color: var(--g-button-disabled-text-color);
        cursor: not-allowed;
        background-image: none;
        background-color: var(--g-button-disabled-bg-color);
        border-color: var(--g-button-disabled-border-color);
    }

    [class*='g-icon'] {
        width: 1em;
        height: 1em;
    }
}

@each $val in primary, secondary, text {
    .g-button--$(val) {
        --g-button-text-color: var(--g-$(
                val)-text
        );
    --g-button-bg-color: var(--g-$(
            val)-normal
    );
--g-button-border-color: transparent;

--g-button-hover-text-color: var(--g-$(
        val)-hover-text
);
--g-button-hover-bg-color: var(--g-$(
        val)-hover
);
--g-button-hover-border-color: transparent;

--g-button-focus-text-color: var(--g-$(
        val)-focus-text
);
--g-button-focus-bg-color: var(--g-$(
        val)-focus-inside
);
--g-button-focus-border-color: var(--g-neutral-grey-50);
--g-button-focus-inside-color: var(--g-$(
        val)-focus-inside
);
--g-button-focus-outside-color: var(--g-$(
        val)-focus-outside
);
--g-button-focus-shadow: 0px 0px 0px 2px var(--g-button-focus-outside-color);

--g-button-active-text-color: var(--g-$(
        val)-active-text
);
--g-button-active-border-color: transparent;
--g-button-active-bg-color: var(--g-$(
        val)-pressed
);

--g-button-disabled-text-color: var(--g-neutral-grey-400);
--g-button-disabled-bg-color: var(--g-$(
        val)-disabled-bg
);
--g-button-disabled-border-color: var(--g-$(
        val)-disabled-border
);

&.is-circle {
    border-radius: 30%;
    padding: 8px;
}

}
}

.g-button--large {
    --g-button-size: 36px;
    height: var(--g-button-size);
    padding: 7px 20px;
    font-size: var(--g-font-size-base);
    border-radius: var(--g-border-radius-base);

    /*circle*/
    &.is-circle {
        border-radius: 50%;
        padding: 11px;
    }
}

.g-button--small {
    --g-button-size: 28px;
    height: var(--g-button-size);
    padding: 3px 16px;
    font-size: var(--g-font-size-base);
    border-radius: var(--g-border-radius-base);

    /*circle*/
    &.is-circle {
        border-radius: 50%;
        padding: 8px;
    }

    [class*='g-icon'] {
        width: 12px;
        height: 12px;
    }
}

.g-button--mini {
    --g-button-size: 26px;
    height: var(--g-button-size);
    padding: 2px 12px;
    font-size: var(--g-font-size-base);
    border-radius: var(--g-border-radius-base);

    /*circle*/
    &.is-circle {
        border-radius: 50%;
        padding: 6px;
    }

    [class*='g-icon'] {
        width: 12px;
        height: 12px;
    }
}

.g-button-group {
    display: inline-block;
    vertical-align: middle;

    &::after {
        clear: both;
    }

    &> :deep(.g-button) {
        float: left;
        position: relative;
        margin-left: 0;

        &:first-child {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right-color: var(--g-button-group-border-color);
        }

        &:last-child {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-left-color: var(--g-button-group-border-color);
        }

        &:not(:first-child):not(:last-child) {
            border-radius: 0;
            border-left-color: var(--g-button-group-border-color);
            border-right-color: var(--g-button-group-border-color);
        }

        &:not(:last-child) {
            margin-right: -1px;
        }

        &:first-child:last-child {
            border-top-right-radius: var(--g-border-radius-base);
            border-bottom-right-radius: var(--g-border-radius-base);
            border-top-left-radius: var(--g-border-radius-base);
            border-bottom-left-radius: var(--g-border-radius-base);

            &.is-round {
                border-radius: var(--g-border-radius-round);
            }

            &.is-circle {
                border-radius: 50%;
            }
        }
    }
}